.one {
  background-color: red;
  width: 200px;
  height: 500px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.two {
  background-color: rgb(48, 138, 12);
  width: 200px;
  height: 500px;
  padding: 3rem;
}
.three {
  background-color: rgb(48, 138, 12);
  width: 200px;
  height: 500px;
  padding: 3rem;
}
.four {
  background-color: rgb(48, 138, 12);
  width: 200px;
  height: 500px;
  padding: 3rem;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 2rem;
}
